<div class="container-h1">
  <% @letters.each do |letter| %>
    <h1 class='inline-h1'><%= letter.upcase %></h1>
  <% end %>
</div>

<div class="container-form form-inline">
    <div class="form-group">
        <form action="/score" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input class="form-control mx-sm-3 mb-2" type="text" name="user_input">
            <input class="btn btn-warning mb-2 " type="submit" name="">
            <%= hidden_field_tag :letters, @letters %>
        </form>
    </div>
</div>